<h1>Dashboard</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Total de pagamentos</td>
            <td class="text-end"><%= @total_payments_ativos %></td>
          </tr>
          <tr>
            <td>Total de débitos</td>
            <td class="text-end"><%= @total_debts_ativos %></td>
          </tr>
          <tr>
            <td>Saldo</td>
            <td class="text-end"><%= @saldo %></td>
          </tr>
        </table>

        <h5 class="card-title">Maior saldo</h5>
        <table class="table">
          <tr>
            <td><%= @associado_maior_saldo&.name %></td>
            <td class="text-end"><%= @associado_maior_saldo&.amount %></td>
          </tr>
        </table>

        <h5 class="card-title">Menor saldo</h5>
        <table class="table">
          <tr>
            <td><%= @associado_menor_saldo&.name %></td>
            <td class="text-end"><%= @associado_menor_saldo&.amount %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Associados</h5>
        <%= pie_chart @active_people_pie_chart %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meus últimos cadastros</h5>
        <ul>
          <% @ultimos_cadastro_associados.each do |person| %>
            <li><%= person.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Últimos débitos</h5>
        <%= line_chart @ultimos_lancamentos[:debts] %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Últimos pagamentos</h5>
        <%= line_chart @ultimos_lancamentos[:payments] %>
      </div>
    </div>
  </div>
</div>
